/* Global styles */

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  margin: 0px;
  line-height: 1.5;
}

/* Grid styles */

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 80px 40px auto 100px 80px;
  grid-template-areas:
    '. . h1 h1 h1 h1 h1 h1 h1 h1 . .'
    '. . h2 h2 h2 h2 h2 h2 h2 h2 . .'
    '. . h3 h3 h3 h3 h3 h3 h3 h3 . .'
    '. ct ct ct ct ct ct ct ct ct ct .'
    '. . f1 f1 f1 f1 f1 f1 f1 f1 . .'
    '. . f2 f2 f2 f2 f2 f2 f2 f2 . .';
}

.header-img {
  grid-area: h1;
}

.header-name {
  grid-area: h2;
}

.header-nickname {
  grid-area: h3;
}

.content {
  grid-area: ct;
}

.footer-heading {
  grid-area: f1;
}

.footer-links {
  grid-area: f2;
}

/* Component styles */

.profile-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.full-name {
  font-weight: bold;
  font-size: 2em;
}

.nickname {
  font-weight: bold;
  font-size: 2em;
}

.description {
  font-size: 22px;
  text-align: center;
}

.footer-headline {
  text-align: center;
}

.links {
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}

/* icons */

.fab {
  font-size: 40px;
}

.fas {
  font-size: 40px;
}

.fa-medium-m:hover {
  color: rgb(92, 195, 113);
}

.fa-xing:hover {
  color: rgb(213, 213, 69);
}

.fa-github:hover {
  color: rgb(223, 91, 64);
}

.fa-linkedin:hover {
  color: rgb(63, 87, 100);
}

.fa-envelope:hover {
  color: rgb(0, 149, 168);
}

/* media queries */

/* if the browser is 1750px or larger show this */
@media only screen and (min-width: 750px) {
  .container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 80px 80px auto 100px 80px;
    grid-template-areas:
      '. . h1 h1 h1 h1 h1 h1 h1 h1 . .'
      '. . h2 h2 h2 h2 h2 h2 h2 h2 . .'
      '. . h3 h3 h3 h3 h3 h3 h3 h3 . .'
      '. . ct ct ct ct ct ct ct ct . .'
      '. . f1 f1 f1 f1 f1 f1 f1 f1 . .'
      '. . f2 f2 f2 f2 f2 f2 f2 f2 . .';
  }

  .full-name {
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2.5px;
  }

  .nickname {
    font-weight: bold;
    font-size: 3em;
  }
}

/* if the browser is 1450px or larger show this */
@media only screen and (min-width: 1450px) {
  .container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto 80px 80px;
    grid-template-areas:
      '. . h1 h1 h2 h2 h2 h2 h3 h3 . .'
      '. . ct ct ct ct ct ct ct ct . .'
      '. . f1 f1 f1 f1 f1 f1 f1 f1 . .'
      '. . f2 f2 f2 f2 f2 f2 f2 f2 . .';
  }
  .full-name {
    font-weight: bold;
    font-size: 3.6em;
    letter-spacing: 2.5px;
  }

  .nickname {
    font-weight: bold;
    font-size: 3.6em;
  }

  .description {
    font-size: 24px;
    text-align: center;
  }
}
